---
import "../style/benefits.css";
import Headerr from "../components/Headerr.astro";
import By from "../components/by.astro";
import "../Style/fonts.css";
import "../Style/headerr.css";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Fordele</title>
  </head>

  <main>
    <Headerr />
    <By />
  </main>

  <body>
    <section>
      <h1>Din Bydel</h1>
      <p>Vælg din valgte by og se hvor meget byen har samlet ind til Naturfonden!</p>
      <!-- Knap/button til at søge efter alle danske byer -->
      <!-- Billede kort over byen efter man har trykket på det valgte by via knap -->
    </section>

    <section class="green-background">
      <div class="tjek-dankort">
        <div class="flexbox1">
          <div class="mobile-heading-image">
            <h2>Tjek om du betaler<br />med Dankort</h2>
          </div>

          <div class="flexbox2">
            <div class="tjek-dankort_billede desktop-img">
              <img src="public/pictures/gråtkortps2.png" alt="Dankort betalingskort" />
            </div>

            <div class="tjek-dankort_tekst">
              <ol>
                <li>Tjek om du har Dankort logoen på dit fysiske eller digitale betalingskort</li>
                <li>Hvis svaret er JA: Tillykke, du har Dankort!</li>
                <li>Hvis svaret er NEJ: Klik på knappen nedenunder, og skaf dig Dankort i dag</li>
              </ol>
            </div>

            <div class="tjek-dankort_billede mobile-img">
              <img src="public/pictures/gråtkortps2.png" alt="Dankort betalingskort" />
            </div>
          </div>

          <a class="dankort-knap" href="https://dankort.dk/dankort-i-apple-pay"> Få dit Dankort i dag! </a>
        </div>
      </div>
    </section>
    <!-- festival -->
    <section class="roskilde-festival">
      <div class="roskilde-festival_indhold">
        <div class="roskilde-festival_tekst">
          <h2>Vind 2 pas til Roskilde<br />festivalen 2026!</h2>
          <p>Tilmeld dig giveawayen og vær med i trækningen af to pas til Roskilde festival, for dig og en ven.</p>

          <ol>
            <li>Få Dankort på din eget kort</li>
            <li>Inviter en ven som opretter Dankort</li>
            <li>Tilmeld dig giveawayen</li>
          </ol>

          <a class="ros_knap" href="https://www.instagram.com/dankort.danmark/">Tilmeld dig her!</a>
        </div>

        <div class="ros-billede">
          <img src="public/pictures/rosbillede-skarp.png" alt="Instagram opslag om Roskilde Festival giveaway" />
        </div>
      </div>
    </section>
    <!-- 3 gode grund delen -->
    <section class="grunde">
      <h2>3 gode grund til at<br class="linebreak" /> betale med Dankort</h2>
      <section class="box wrapper-1">
        <h3>1. Billigt for butikkerne</h3>
        <p>Dankort er det billigste betalingsmiddel for langt de fleste butikker.</p>
        <p>Når du betaler med Dankort, er du således med til at holde butikkernes omkostninger til betalinger nede.</p>
        <p>Det er ikke kun en fordel for butikkerne i dit lokalområde - men også for dig som forbruger, da butikkernes omkostninger påvirker priserne.</p>
      </section>
      <section class="box wrapper-2">
        <h3>2. Nemt og sikkert</h3>
        <p>Det er lige så sikkert at betale med Dankort i Apple Pay som med det fysiske kort.</p>
        <p>Når du betaler med Apple Pay, lagres kortnummeret aldrig på hverken din mobil eller på Apples servere.</p>
        <p>Du skal heller ikke indtaste pinkode i forretningerne, da telefonen anvender face-id og derfor kan din pinkode heller ikke aflures. På nettet skal du ikke indtaste kortnummer og CVV, og derfor kan disse numre heller ikke opsnappes.</p>
      </section>
      <section class="box wrapper-3">
        <h3>3. Dansk betalingsmiddel</h3>
        <p>Dankort er udviklet af de danske banker til glæde og gavn for forbrugere og butikker i Danmark.</p>
        <p>Dankort bliver af Nationalbanken betragtet som en del af den kritiske betalingsinfrastruktur.</p>
        <p>Selvom Dankort i dag er ejet af den paneuropæiske betalingsvirksomhed Nexi, er betalingsinfrastrukturen dansk og drevet under Nets Danmark.</p>
      </section>
    </section>
    <Footer />
    <script is:inline src="/js/language.js"></script>
  </body>


</html>
