---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Forside</title>
  </head>
  <body>
    <!-- <Header> -->
    <header>
      <h1>Hver betaling Tæller</h1>
      <video loop="" autoplay="" src="public/pictures/vidofsky.mp4" width="100%"
      ></video>
      <div>
        <a href="">Naturfonden</a>
      </div>
      <div>
        <a href="">Tjek dit Kort</a>
      </div>
    </header>
    <!-- </Header> -->
    <main>
      <section class="grid_1-1">
        <h2>Øremærket</h2>
        <p>
          Hver gang du betaler med Dankort, donere din bank automatisk 1 øre til
          den danske natur, uden det koster dig ekstra
        </p>
        <!-- Indsæt svg her -->
        <div>
          <svg
            width="481"
            height="73"
            viewBox="0 0 481 73"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M52.9695 52.7331L45.7057 41.2536V52.7331H41.9395V34.0859H45.4792L52.7641 45.5965V34.0859H56.5092V52.7331H52.9695Z"
              fill="black"></path>
            <path
              d="M63.2467 49.2937L62.0984 52.7282H57.9688L64.7796 34.0811H68.9092L75.562 52.7282H71.2743L70.1471 49.2937H63.2467ZM66.718 38.8035L64.4161 45.7036H68.9725L66.718 38.8035Z"
              fill="black"></path>
            <path
              d="M82.6364 37.8937V52.733H78.6226V37.8937H73.9082V34.061H87.3929V37.8937H82.6364Z"
              fill="black"></path>
            <path
              d="M103.316 44.8997C103.316 49.8274 100.54 52.9446 96.1208 52.9446C91.7014 52.9446 88.8359 49.8274 88.8359 44.8997V34.0859H92.8497V44.8997C92.8497 47.432 94.2245 48.975 96.1419 48.975C98.0593 48.975 99.3234 47.432 99.3234 44.8997V34.0859H103.316V44.8997Z"
              fill="black"></path>
            <path
              d="M113.372 47.4831H110.217V52.7282H106.203V34.0811H113.262C117.433 34.0811 119.825 36.4267 119.825 40.583C119.825 43.4326 118.808 45.4859 116.959 46.5747L120.272 52.7282H115.716L113.372 47.4831ZM113.256 43.7562C114.995 43.7562 116.006 42.7171 116.006 40.7447C116.006 38.7724 114.989 37.8142 113.256 37.8142H110.212V43.7562H113.256Z"
              fill="black"></path>
            <path
              d="M127.061 37.8129V42.1309H134.14V45.8578H127.061V52.7331H123.047V34.0859H134.751V37.8129H127.061Z"
              fill="black"></path>
            <path
              d="M152.697 43.3821C152.697 48.8139 149.041 52.9453 144.148 52.9453C139.254 52.9453 135.625 48.845 135.625 43.3821C135.625 37.9193 139.281 33.9248 144.148 33.9248C149.015 33.9248 152.697 37.9753 152.697 43.3821ZM139.734 43.407C139.734 46.5491 141.788 48.9757 144.2 48.9757C146.613 48.9757 148.578 46.5491 148.578 43.407C148.578 40.265 146.639 37.8944 144.2 37.8944C141.762 37.8944 139.734 40.265 139.734 43.407Z"
              fill="black"></path>
            <path
              d="M165.846 52.7331L158.583 41.2536V52.7331H154.816V34.0859H158.356L165.641 45.5965V34.0859H169.386V52.7331H165.846Z"
              fill="black"></path>
            <path
              d="M179.325 34.0873C184.287 34.0873 187.716 37.8702 187.716 43.4077C187.716 48.9452 184.245 52.7282 179.167 52.7282H172.535V34.0811H179.325V34.0873ZM176.554 48.9515H179.42C181.88 48.9515 183.639 46.7116 183.639 43.4388C183.639 40.1661 181.79 37.8702 179.241 37.8702H176.559V48.9515H176.554Z"
              fill="black"></path>
            <path
              d="M45.6899 12.479C48.3921 12.479 50.4622 14.8433 50.4622 17.9605C50.4622 21.0777 48.3815 23.442 45.6477 23.442H42.0237C41.9763 23.442 41.9395 23.3985 41.9395 23.3425V12.5786C41.9395 12.5226 41.9763 12.479 42.0237 12.479H45.6899ZM43.0825 22.2537H45.5582C47.6915 22.2537 49.5193 20.1818 49.3771 17.6681C49.2454 15.366 47.6546 13.6861 45.6635 13.6861H43.0825C43.0351 13.6861 42.9982 13.7296 42.9982 13.7856V22.1479C42.9982 22.2039 43.0351 22.2474 43.0825 22.2474V22.2537Z"
              fill="black"></path>
            <path
              d="M58.1839 19.7953H52.6688C52.6162 19.7953 52.574 19.8575 52.5846 19.9135C52.8058 21.4565 53.7855 22.4209 55.1024 22.4209C55.9663 22.4209 56.7195 22.0601 57.2621 21.3881L57.8309 22.1098C57.1672 22.9871 56.1875 23.4911 55.0181 23.4911C52.9638 23.4911 51.5469 21.7863 51.5469 19.3286C51.5469 16.871 52.9796 15.1662 55.0076 15.1662C57.2357 15.1475 58.3472 16.9519 58.2734 19.7019C58.2734 19.7579 58.2313 19.8015 58.1839 19.8015V19.7953ZM57.241 18.7935C57.2937 18.7935 57.3305 18.7375 57.3305 18.6815C57.2252 17.1634 56.335 16.2114 55.0023 16.2114C53.6697 16.2114 52.7689 17.1758 52.5793 18.6753C52.5688 18.7375 52.6162 18.7935 52.6636 18.7935H57.241Z"
              fill="black"></path>
            <path
              d="M66.4271 18.3536V23.3436C66.4271 23.3996 66.3902 23.4431 66.3428 23.4431H65.479C65.4316 23.4431 65.3947 23.3996 65.3947 23.3436V18.6833C65.3947 17.2274 64.652 16.3688 63.4194 16.3688C62.0393 16.3812 61.1913 17.4514 61.0754 19.0131V23.3436C61.0754 23.3996 61.0385 23.4431 60.9911 23.4431H60.1272C60.0798 23.4431 60.043 23.3996 60.043 23.3436V15.2924C60.043 15.2364 60.0798 15.1928 60.1272 15.1928H60.9911C61.0385 15.1928 61.0754 15.2364 61.0754 15.2924V17.0096C61.5653 15.759 62.5081 15.1617 63.7776 15.1431C65.4474 15.1431 66.4271 16.3626 66.4271 18.3536Z"
              fill="black"></path>
            <path
              d="M76.2621 12.479C78.9643 12.479 81.0345 14.8433 81.0345 17.9605C81.0345 21.0777 78.9538 23.442 76.22 23.442H72.596C72.5486 23.442 72.5117 23.3985 72.5117 23.3425V12.5786C72.5117 12.5226 72.5486 12.479 72.596 12.479H76.2621ZM73.6548 22.2537H76.1305C78.2638 22.2537 80.0916 20.1818 79.9494 17.6681C79.8177 15.366 78.2269 13.6861 76.2358 13.6861H73.6548C73.6073 13.6861 73.5705 13.7296 73.5705 13.7856V22.1479C73.5705 22.2039 73.6073 22.2474 73.6548 22.2474V22.2537Z"
              fill="black"></path>
            <path
              d="M87.151 22.1738C86.5927 23.0636 85.7078 23.5053 84.5911 23.5053C83.1478 23.5053 82.2207 22.4103 82.2207 20.9855C82.2207 19.5606 83.1899 18.6336 84.8334 18.6211H87.1247V18.1358C87.1247 16.9288 86.4873 16.207 85.2548 16.207C84.4857 16.207 83.7693 16.5492 83.0424 17.1465L82.6052 16.2568C83.506 15.5537 84.2645 15.1431 85.4549 15.1431C87.1774 15.1431 88.1308 16.2257 88.1466 17.9927L88.1624 23.3436C88.1624 23.3996 88.1255 23.4431 88.0781 23.4431H87.2406C87.1932 23.4431 87.1563 23.3996 87.1563 23.3436V22.1738H87.151ZM87.1352 20.6121C87.1352 20.6121 87.1352 20.5873 87.1352 20.581V19.6104H84.9598C83.7904 19.6104 83.1846 20.0335 83.1846 20.9419C83.1846 21.8503 83.8062 22.4476 84.786 22.4476C85.9606 22.4476 86.8561 21.7508 87.13 20.6184L87.1352 20.6121Z"
              fill="black"></path>
            <path
              d="M96.8529 18.3536V23.3436C96.8529 23.3996 96.816 23.4431 96.7686 23.4431H95.9048C95.8574 23.4431 95.8205 23.3996 95.8205 23.3436V18.6833C95.8205 17.2274 95.0778 16.3688 93.8452 16.3688C92.4651 16.3812 91.6171 17.4514 91.5012 19.0131V23.3436C91.5012 23.3996 91.4643 23.4431 91.4169 23.4431H90.553C90.5056 23.4431 90.4688 23.3996 90.4688 23.3436V15.2924C90.4688 15.2364 90.5056 15.1928 90.553 15.1928H91.4169C91.4643 15.1928 91.5012 15.2364 91.5012 15.2924V17.0096C91.991 15.759 92.9339 15.1617 94.2034 15.1431C95.8732 15.1431 96.8529 16.3626 96.8529 18.3536Z"
              fill="black"></path>
            <path
              d="M103.237 15.8959L102.842 16.8665C102.299 16.4621 101.594 16.1946 100.946 16.1946C100.161 16.1946 99.5656 16.5243 99.5656 17.2896C99.5656 19.1189 103.463 18.1794 103.463 21.141C103.463 22.7712 102.241 23.4929 100.904 23.4929C99.9343 23.4929 98.9388 23.1071 98.2751 22.3854C98.2487 22.3543 98.2382 22.3045 98.2593 22.261L98.628 21.4086C99.2232 22.0681 100.124 22.4601 100.946 22.4601C101.767 22.4601 102.431 22.0992 102.442 21.2841C102.484 19.2931 98.57 20.3135 98.5858 17.383C98.5858 15.8026 99.7394 15.1431 101.014 15.1431C101.852 15.1431 102.658 15.4231 103.242 15.8959H103.237Z"
              fill="black"></path>
            <path
              d="M106.259 21.1155V23.3367C106.259 23.3927 106.222 23.4363 106.175 23.4363H105.311C105.263 23.4363 105.227 23.3927 105.227 23.3367V11.9257C105.227 11.8697 105.263 11.8262 105.311 11.8262H106.175C106.222 11.8262 106.259 11.8697 106.259 11.9257V19.1805C106.259 19.2676 106.349 19.3112 106.401 19.2489L109.825 15.2171C109.825 15.2171 109.862 15.186 109.883 15.186H111.068L108.503 18.3219C108.477 18.353 108.471 18.409 108.492 18.4463L111.342 23.4363H110.152C110.125 23.4363 110.099 23.4176 110.083 23.3927L107.781 19.3734C107.75 19.3236 107.686 19.3174 107.65 19.3609L106.275 21.0471C106.275 21.0471 106.248 21.0906 106.248 21.1155H106.259Z"
              fill="black"></path>
            <path
              d="M118.381 19.7953H112.866C112.813 19.7953 112.771 19.8575 112.782 19.9135C113.003 21.4565 113.983 22.4209 115.3 22.4209C116.164 22.4209 116.917 22.0601 117.459 21.3881L118.028 22.1098C117.365 22.9871 116.385 23.4911 115.215 23.4911C113.161 23.4911 111.744 21.7863 111.744 19.3286C111.744 16.871 113.177 15.1662 115.205 15.1662C117.433 15.1475 118.544 16.9519 118.471 19.7019C118.471 19.7579 118.429 19.8015 118.381 19.8015V19.7953ZM117.444 18.7935C117.496 18.7935 117.533 18.7375 117.533 18.6815C117.428 17.1634 116.538 16.2114 115.205 16.2114C113.872 16.2114 112.971 17.1758 112.782 18.6753C112.771 18.7375 112.819 18.7935 112.866 18.7935H117.444Z"
              fill="black"></path>
            <path
              d="M14.9556 64.2568C14.529 63.0186 14.8713 57.2446 14.6817 55.2474C14.5184 53.8226 3.39356 50.6743 4.27323 44.3528C4.52607 42.536 8.29229 44.1226 9.14035 42.2996C9.98841 40.4765 0.675559 36.3701 0.0434652 32.948C-0.588629 29.5259 5.85873 30.4406 7.34415 28.3873C8.82431 26.3341 0.891525 24.1938 1.31292 20.7717C1.73432 17.3496 5.96935 19.8571 7.2388 18.2643C8.50826 16.6652 3.64113 11.1899 5.96935 9.5971C8.29756 7.99807 12.3061 15.987 12.3061 9.5971C12.3061 -0.17755 19.9386 -0.17755 19.9386 9.5971C19.9386 15.987 23.9524 7.99807 26.2754 9.5971C28.6036 11.1961 23.7365 16.6714 25.0059 18.2643C26.2754 19.8633 30.5051 17.3496 30.9318 20.7717C31.3532 24.1938 23.4204 26.3341 24.9006 28.3873C26.3807 30.4406 32.8333 29.5259 32.2013 32.948C31.5692 36.3701 22.2563 40.4765 23.1044 42.2996C23.9524 44.1226 27.5975 42.5671 27.9715 44.3528C28.8986 48.7953 20.439 52.6466 17.3786 54.843C17.3786 54.843 16.0671 39.6677 16.0671 10.7917H15.6667C15.0504 47.1962 15.4876 62.7635 16.3094 62.975C16.7782 63.0933 16.7149 64.3439 16.7149 64.3439C16.7149 64.3439 15.4086 65.5447 14.9609 64.2568H14.9556Z"
              fill="black"></path>
            <path d="M208 4V55" stroke="black" stroke-width="4"></path>
            <path
              d="M412.262 0.720215C396.25 0.720215 383.221 16.5914 383.221 36.0961C383.221 55.6008 396.248 71.477 412.262 71.477H451.373C467.385 71.477 480.411 55.6058 480.411 36.0961C480.411 16.5864 467.387 0.720215 451.375 0.720215H412.264H412.262Z"
              fill="white"></path>
            <path
              d="M451.374 72.1937H412.263C395.922 72.1937 382.631 56.0012 382.631 36.0956C382.631 16.19 395.922 0 412.261 0H451.372C467.709 0 481.001 16.1925 481.001 36.0956C481.001 55.9988 467.709 72.1937 451.372 72.1937M412.261 0.719721C396.249 0.719721 383.22 16.5909 383.22 36.0956C383.22 55.6003 396.247 71.4765 412.261 71.4765H451.372C467.384 71.4765 480.41 55.6053 480.41 36.0956C480.41 16.586 467.386 0.719721 451.374 0.719721H412.263H412.261Z"
              fill="#231F20"></path>
            <path
              d="M458.211 33.9367L471.216 52.7814C473.91 48.0397 475.492 42.2894 475.492 36.0984C475.492 29.5636 473.73 23.5194 470.756 18.6333L458.211 33.9392V33.9367Z"
              fill="#E31F28"></path>
            <path
              d="M421.357 17.0415C431.069 17.0415 438.387 20.0524 439.141 30.0214L449.362 17.039H469.716C465.288 10.7259 458.708 6.71387 451.374 6.71387H412.262C404.926 6.71387 398.344 10.7234 393.916 17.039H421.355L421.357 17.0415Z"
              fill="#E31F28"></path>
            <path
              d="M405.354 29.6084L401.885 41.226H415.879C420.017 41.226 421.268 39.1391 422.194 35.1221C423.109 31.1499 420.808 29.6084 417.981 29.6084H405.354Z"
              fill="#E31F28"></path>
            <path
              d="M449.446 54.3654L438.635 37.7222C436.636 49.0708 430.092 54.3654 417.825 54.3654H393.381C397.802 61.1343 404.624 65.485 412.261 65.485H451.372C459.009 65.485 465.826 61.1392 470.248 54.3679H449.444L449.446 54.3654Z"
              fill="#E31F28"></path>
            <path
              d="M236.969 56.0039C235.562 56.0039 234.287 55.7226 233.143 55.1601C231.999 54.5975 231.015 53.838 230.19 52.8817C229.365 51.9066 228.727 50.8189 228.277 49.6188C227.827 48.3999 227.602 47.1529 227.602 45.8777C227.602 44.5463 227.836 43.2805 228.305 42.0804C228.774 40.8615 229.43 39.7833 230.274 38.8456C231.137 37.8893 232.14 37.1392 233.284 36.5954C234.428 36.0328 235.665 35.7515 236.997 35.7515C238.403 35.7515 239.678 36.0422 240.822 36.6235C241.966 37.2048 242.941 37.983 243.748 38.9582C244.573 39.9333 245.21 41.0209 245.66 42.221C246.11 43.4212 246.335 44.6495 246.335 45.9059C246.335 47.2373 246.101 48.5124 245.632 49.7313C245.163 50.9314 244.507 52.0097 243.663 52.9661C242.819 53.9037 241.826 54.6444 240.682 55.1882C239.538 55.732 238.3 56.0039 236.969 56.0039ZM229.571 45.8777C229.571 46.9654 229.749 48.0155 230.105 49.0281C230.462 50.022 230.968 50.9127 231.624 51.7003C232.281 52.4691 233.059 53.088 233.959 53.5568C234.878 54.0068 235.881 54.2318 236.969 54.2318C238.113 54.2318 239.135 53.9974 240.035 53.5286C240.954 53.0411 241.732 52.4035 242.369 51.6159C243.026 50.8096 243.523 49.9095 243.86 48.9156C244.198 47.9217 244.366 46.9091 244.366 45.8777C244.366 44.7901 244.188 43.7494 243.832 42.7555C243.476 41.7616 242.96 40.8709 242.285 40.0833C241.629 39.2957 240.85 38.6769 239.95 38.2268C239.05 37.7768 238.056 37.5517 236.969 37.5517C235.844 37.5517 234.822 37.7861 233.903 38.255C233.003 38.7238 232.224 39.3613 231.568 40.1677C230.93 40.9553 230.434 41.846 230.077 42.8399C229.74 43.8337 229.571 44.8464 229.571 45.8777ZM244.704 35.8922L231.427 55.8633H229.262L242.538 35.8922H244.704ZM256.576 42.8961C255.301 42.9336 254.176 43.2899 253.201 43.965C252.244 44.6401 251.569 45.5683 251.175 46.7497V55.8633H249.263V41.2084H251.063V44.7245C251.569 43.6931 252.235 42.8586 253.06 42.221C253.904 41.5835 254.795 41.2272 255.732 41.1522C255.92 41.1334 256.079 41.124 256.21 41.124C256.36 41.124 256.482 41.1334 256.576 41.1522V42.8961ZM264.705 56.1446C263.655 56.1446 262.68 55.9477 261.779 55.5539C260.879 55.1413 260.101 54.5881 259.445 53.8943C258.788 53.1817 258.273 52.366 257.898 51.4471C257.541 50.5283 257.363 49.5438 257.363 48.4937C257.363 47.1247 257.673 45.8684 258.291 44.7245C258.929 43.5806 259.801 42.6711 260.907 41.996C262.014 41.3022 263.27 40.9553 264.677 40.9553C266.121 40.9553 267.377 41.3022 268.446 41.996C269.533 42.6899 270.387 43.6087 271.005 44.7526C271.624 45.8777 271.934 47.1154 271.934 48.4655C271.934 48.6156 271.934 48.7656 271.934 48.9156C271.934 49.0469 271.924 49.15 271.906 49.225H259.36C259.454 50.2751 259.745 51.2127 260.232 52.0378C260.739 52.8442 261.386 53.4911 262.173 53.9787C262.98 54.4475 263.852 54.6819 264.789 54.6819C265.745 54.6819 266.646 54.4381 267.489 53.9506C268.352 53.463 268.952 52.8254 269.29 52.0378L270.949 52.4879C270.649 53.1817 270.19 53.8099 269.571 54.3725C268.952 54.935 268.221 55.3757 267.377 55.6945C266.552 55.9945 265.661 56.1446 264.705 56.1446ZM259.304 47.8467H270.134C270.058 46.7778 269.768 45.8402 269.262 45.0339C268.774 44.2275 268.127 43.5993 267.321 43.1493C266.533 42.6805 265.661 42.4461 264.705 42.4461C263.748 42.4461 262.876 42.6805 262.089 43.1493C261.301 43.5993 260.654 44.2369 260.148 45.062C259.66 45.8684 259.379 46.7966 259.304 47.8467ZM296.403 55.8633H294.49V47.6779C294.49 45.9715 294.218 44.7151 293.674 43.9087C293.131 43.1024 292.324 42.6992 291.255 42.6992C290.149 42.6992 289.155 43.093 288.274 43.8806C287.411 44.6682 286.802 45.6808 286.446 46.9185V55.8633H284.533V47.6779C284.533 45.9527 284.27 44.6963 283.745 43.9087C283.22 43.1024 282.414 42.6992 281.326 42.6992C280.239 42.6992 279.254 43.0836 278.373 43.8525C277.491 44.6213 276.873 45.6339 276.516 46.8903V55.8633H274.603V41.2084H276.347V44.5276C276.966 43.3837 277.754 42.5023 278.71 41.8835C279.685 41.2647 280.764 40.9553 281.945 40.9553C283.164 40.9553 284.148 41.3022 284.898 41.996C285.649 42.6899 286.108 43.5993 286.277 44.7245C286.952 43.4868 287.758 42.5492 288.696 41.9116C289.652 41.2741 290.73 40.9553 291.931 40.9553C292.756 40.9553 293.449 41.1053 294.012 41.4053C294.593 41.7054 295.053 42.1367 295.39 42.6992C295.747 43.243 296 43.9087 296.15 44.6963C296.319 45.4652 296.403 46.3278 296.403 47.2841V55.8633ZM303.827 56.1446C302.908 56.1446 302.083 55.9477 301.352 55.5539C300.621 55.1413 300.039 54.5975 299.608 53.9224C299.195 53.2286 298.989 52.4504 298.989 51.5878C298.989 50.7064 299.242 49.9376 299.749 49.2813C300.274 48.6249 300.996 48.1092 301.915 47.7342C302.833 47.3592 303.893 47.1716 305.093 47.1716C305.749 47.1716 306.396 47.2279 307.034 47.3404C307.69 47.4342 308.3 47.5654 308.862 47.7342C308.9 47.3779 308.947 47.0122 309.003 46.6372C309.078 46.2621 309.19 45.9152 309.34 45.5964C309.172 44.6026 308.731 43.8244 308.018 43.2618C307.325 42.6805 306.415 42.3898 305.29 42.3898C304.559 42.3898 303.799 42.5398 303.012 42.8399C302.224 43.1399 301.418 43.5712 300.593 44.1338L299.917 42.868C301.849 41.5928 303.696 40.9553 305.459 40.9553C306.678 40.9553 307.718 41.2178 308.581 41.7429C309.444 42.2492 310.091 42.9618 310.522 43.8806C311.122 42.9993 311.909 42.2961 312.885 41.771C313.86 41.2272 314.938 40.9553 316.119 40.9553C317.545 40.9553 318.801 41.3022 319.889 41.996C320.995 42.6899 321.858 43.6087 322.476 44.7526C323.114 45.8777 323.433 47.1435 323.433 48.5499C323.433 48.6437 323.423 48.7656 323.405 48.9156C323.405 49.0469 323.405 49.15 323.405 49.225H310.662C310.756 50.2751 311.056 51.2127 311.563 52.0378C312.088 52.8442 312.763 53.4911 313.588 53.9787C314.413 54.4475 315.313 54.6819 316.288 54.6819C317.244 54.6819 318.145 54.4381 318.988 53.9506C319.851 53.463 320.442 52.8254 320.761 52.0378L322.448 52.4879C322.148 53.1817 321.689 53.8099 321.07 54.3725C320.451 54.935 319.72 55.3757 318.876 55.6945C318.051 55.9945 317.16 56.1446 316.204 56.1446C314.929 56.1446 313.766 55.8539 312.716 55.2726C311.666 54.6725 310.812 53.8849 310.156 52.9098C309.762 53.6786 309.209 54.2975 308.497 54.7663C307.784 55.2351 307.015 55.582 306.19 55.807C305.365 56.0321 304.577 56.1446 303.827 56.1446ZM304.277 54.6819C305.271 54.6819 306.19 54.4944 307.034 54.1193C307.878 53.7443 308.515 53.2473 308.947 52.6285C309.247 52.3097 309.415 51.9816 309.453 51.644C309.284 51.269 309.144 50.8377 309.031 50.3501C308.937 49.8438 308.881 49.375 308.862 48.9437C308.318 48.7562 307.746 48.6156 307.146 48.5218C306.546 48.428 305.946 48.3811 305.346 48.3811C303.996 48.3811 302.899 48.6624 302.055 49.225C301.211 49.7876 300.789 50.5283 300.789 51.4471C300.789 52.0472 300.939 52.6004 301.239 53.1067C301.558 53.5943 301.98 53.9787 302.505 54.26C303.03 54.5413 303.621 54.6819 304.277 54.6819ZM321.604 47.9311C321.529 46.8622 321.239 45.9152 320.732 45.0901C320.245 44.265 319.598 43.6181 318.792 43.1493C318.004 42.6805 317.104 42.4461 316.091 42.4461C315.116 42.4461 314.225 42.6805 313.419 43.1493C312.613 43.6181 311.966 44.265 311.478 45.0901C310.991 45.9152 310.719 46.8622 310.662 47.9311H321.604ZM333.408 42.8961C332.133 42.9336 331.008 43.2899 330.033 43.965C329.076 44.6401 328.401 45.5683 328.008 46.7497V55.8633H326.095V41.2084H327.895V44.7245C328.401 43.6931 329.067 42.8586 329.892 42.221C330.736 41.5835 331.627 41.2272 332.564 41.1522C332.752 41.1334 332.911 41.124 333.042 41.124C333.193 41.124 333.314 41.1334 333.408 41.1522V42.8961ZM346.139 55.8633L340.71 48.353L337.588 51.2784V55.8633H335.675V35.3296H337.588V49.225L345.885 41.2366H347.995L342.004 47.2279L348.22 55.8633H346.139ZM355.869 56.1446C354.819 56.1446 353.844 55.9477 352.944 55.5539C352.044 55.1413 351.265 54.5881 350.609 53.8943C349.953 53.1817 349.437 52.366 349.062 51.4471C348.706 50.5283 348.528 49.5438 348.528 48.4937C348.528 47.1247 348.837 45.8684 349.456 44.7245C350.093 43.5806 350.965 42.6711 352.072 41.996C353.178 41.3022 354.435 40.9553 355.841 40.9553C357.285 40.9553 358.541 41.3022 359.61 41.996C360.698 42.6899 361.551 43.6087 362.17 44.7526C362.789 45.8777 363.098 47.1154 363.098 48.4655C363.098 48.6156 363.098 48.7656 363.098 48.9156C363.098 49.0469 363.089 49.15 363.07 49.225H350.525C350.618 50.2751 350.909 51.2127 351.397 52.0378C351.903 52.8442 352.55 53.4911 353.338 53.9787C354.144 54.4475 355.016 54.6819 355.953 54.6819C356.91 54.6819 357.81 54.4381 358.654 53.9506C359.516 53.463 360.116 52.8254 360.454 52.0378L362.114 52.4879C361.814 53.1817 361.354 53.8099 360.735 54.3725C360.116 54.935 359.385 55.3757 358.541 55.6945C357.716 55.9945 356.825 56.1446 355.869 56.1446ZM350.468 47.8467H361.298C361.223 46.7778 360.932 45.8402 360.426 45.0339C359.938 44.2275 359.291 43.5993 358.485 43.1493C357.697 42.6805 356.825 42.4461 355.869 42.4461C354.913 42.4461 354.041 42.6805 353.253 43.1493C352.466 43.5993 351.819 44.2369 351.312 45.062C350.825 45.8684 350.543 46.7966 350.468 47.8467ZM372.663 55.1601C372.513 55.2163 372.278 55.3195 371.959 55.4695C371.641 55.6195 371.256 55.7508 370.806 55.8633C370.356 55.9758 369.868 56.0321 369.343 56.0321C368.8 56.0321 368.284 55.9289 367.796 55.7226C367.328 55.5164 366.952 55.207 366.671 54.7944C366.39 54.3631 366.249 53.838 366.249 53.2192V42.7274H364.224V41.2084H366.249V36.2578H368.162V41.2084H371.537V42.7274H368.162V52.6848C368.2 53.2098 368.387 53.6036 368.725 53.8662C369.081 54.1287 369.484 54.26 369.934 54.26C370.459 54.26 370.937 54.1756 371.369 54.0068C371.8 53.8193 372.062 53.688 372.156 53.613L372.663 55.1601Z"
              fill="#1E1E1E"></path>
            <path
              d="M267.478 26.2876V6.31649H274.932C277.126 6.31649 278.955 6.76654 280.417 7.66665C281.899 8.548 283.014 9.74815 283.765 11.2671C284.515 12.7673 284.89 14.4362 284.89 16.2739C284.89 18.2992 284.477 20.0619 283.652 21.562C282.827 23.0622 281.664 24.2249 280.164 25.05C278.683 25.875 276.939 26.2876 274.932 26.2876H267.478ZM280.192 16.2739C280.192 15.1113 279.986 14.0893 279.573 13.2079C279.161 12.3078 278.561 11.614 277.773 11.1264C276.986 10.6201 276.039 10.367 274.932 10.367H272.091V22.2371H274.932C276.057 22.2371 277.004 21.984 277.773 21.4777C278.561 20.9526 279.161 20.24 279.573 19.3399C279.986 18.421 280.192 17.399 280.192 16.2739ZM285.846 21.8715C285.846 20.8963 286.118 20.0431 286.661 19.3118C287.205 18.5804 287.955 18.0085 288.912 17.5959C289.868 17.1646 290.965 16.949 292.203 16.949C292.803 16.949 293.393 17.0053 293.975 17.1178C294.556 17.2115 295.062 17.3522 295.494 17.5397V16.8927C295.494 16.0864 295.25 15.4676 294.762 15.0363C294.275 14.605 293.534 14.3893 292.54 14.3893C291.715 14.3893 290.937 14.53 290.206 14.8112C289.493 15.0925 288.733 15.4957 287.927 16.0208L286.577 13.1517C287.552 12.5141 288.565 12.0359 289.615 11.7171C290.684 11.3983 291.809 11.2389 292.99 11.2389C295.203 11.2389 296.919 11.7734 298.138 12.8423C299.375 13.8924 299.994 15.4207 299.994 17.4272V21.2808C299.994 21.7308 300.06 22.0496 300.191 22.2371C300.341 22.4059 300.594 22.509 300.951 22.5465V26.2876C300.575 26.3626 300.219 26.4189 299.882 26.4564C299.563 26.4939 299.282 26.5126 299.038 26.5126C298.194 26.5126 297.547 26.3439 297.097 26.0063C296.666 25.6688 296.394 25.2093 296.281 24.628L296.197 23.9811C295.541 24.8249 294.753 25.4719 293.834 25.9219C292.934 26.3532 291.987 26.5689 290.993 26.5689C290.018 26.5689 289.137 26.3626 288.349 25.9501C287.58 25.5375 286.971 24.9749 286.521 24.2624C286.071 23.5498 285.846 22.7528 285.846 21.8715ZM294.79 22.434C294.997 22.2652 295.165 22.0777 295.297 21.8715C295.428 21.6652 295.494 21.4683 295.494 21.2808V19.9587C295.119 19.8087 294.697 19.6962 294.228 19.6212C293.778 19.5274 293.356 19.4805 292.962 19.4805C292.137 19.4805 291.453 19.6681 290.909 20.0431C290.365 20.3994 290.093 20.8776 290.093 21.4777C290.093 21.8152 290.187 22.1246 290.374 22.4059C290.562 22.6872 290.815 22.9122 291.134 23.081C291.471 23.2497 291.865 23.3341 292.315 23.3341C292.765 23.3341 293.215 23.2497 293.665 23.081C294.115 22.9122 294.49 22.6965 294.79 22.434ZM317.207 26.2876H312.706V17.9897C312.706 17.0146 312.519 16.3114 312.144 15.8801C311.788 15.4301 311.309 15.205 310.709 15.205C310.297 15.205 309.875 15.3176 309.444 15.5426C309.012 15.7676 308.618 16.077 308.262 16.4708C307.925 16.8646 307.662 17.3147 307.475 17.821V26.2876H302.974V11.5202H307.024V13.9955C307.4 13.4142 307.868 12.9173 308.431 12.5047C308.993 12.0922 309.64 11.7828 310.372 11.5765C311.103 11.3515 311.9 11.2389 312.763 11.2389C313.719 11.2389 314.488 11.4171 315.069 11.7734C315.669 12.1109 316.119 12.561 316.419 13.1235C316.738 13.6861 316.944 14.2956 317.038 14.9519C317.151 15.5895 317.207 16.2177 317.207 16.8365V26.2876ZM329.845 26.2876L325.992 20.3807L324.416 21.984V26.2876H319.916V5.75392H324.416V17.6241L329.423 11.5202H334.177L328.861 17.8772L334.627 26.2876H329.845ZM341.939 26.5689C340.683 26.5689 339.558 26.3626 338.564 25.9501C337.589 25.5375 336.764 24.9749 336.089 24.2624C335.414 23.5498 334.898 22.7341 334.542 21.8152C334.204 20.8963 334.035 19.9306 334.035 18.918C334.035 17.8866 334.204 16.9115 334.542 15.9926C334.898 15.0738 335.414 14.2581 336.089 13.5455C336.764 12.8329 337.589 12.2703 338.564 11.8578C339.558 11.4452 340.683 11.2389 341.939 11.2389C343.196 11.2389 344.312 11.4452 345.287 11.8578C346.262 12.2703 347.087 12.8329 347.762 13.5455C348.437 14.2581 348.953 15.0738 349.309 15.9926C349.665 16.9115 349.843 17.8866 349.843 18.918C349.843 19.9306 349.665 20.8963 349.309 21.8152C348.953 22.7341 348.437 23.5498 347.762 24.2624C347.087 24.9749 346.262 25.5375 345.287 25.9501C344.312 26.3626 343.196 26.5689 341.939 26.5689ZM338.648 18.918C338.648 19.6868 338.789 20.3619 339.07 20.9432C339.37 21.5245 339.764 21.9746 340.252 22.2934C340.739 22.6122 341.302 22.7716 341.939 22.7716C342.558 22.7716 343.111 22.6122 343.599 22.2934C344.105 21.9558 344.499 21.4964 344.78 20.9151C345.062 20.3338 345.202 19.6681 345.202 18.918C345.202 18.1491 345.062 17.4741 344.78 16.8927C344.499 16.3114 344.105 15.8614 343.599 15.5426C343.111 15.2238 342.558 15.0644 341.939 15.0644C341.302 15.0644 340.739 15.2238 340.252 15.5426C339.764 15.8614 339.37 16.3114 339.07 16.8927C338.789 17.4741 338.648 18.1491 338.648 18.918ZM361.161 15.3738C360.073 15.3738 359.089 15.552 358.207 15.9082C357.326 16.2458 356.689 16.7521 356.295 17.4272V26.2876H351.794V11.5202H355.929V14.5018C356.435 13.508 357.092 12.7297 357.898 12.1672C358.704 11.6046 359.548 11.314 360.43 11.2952C360.636 11.2952 360.786 11.2952 360.88 11.2952C360.992 11.2952 361.086 11.3046 361.161 11.3233V15.3738ZM372.339 25.5C371.926 25.6688 371.467 25.8375 370.961 26.0063C370.473 26.1751 369.957 26.3063 369.414 26.4001C368.87 26.5126 368.335 26.5689 367.81 26.5689C367.06 26.5689 366.366 26.447 365.729 26.2032C365.11 25.9407 364.613 25.5188 364.238 24.9374C363.882 24.3561 363.703 23.5873 363.703 22.6309V14.9238H361.819V11.5202H363.703V6.8228H368.204V11.5202H371.214V14.9238H368.204V21.0839C368.204 21.5714 368.326 21.9277 368.57 22.1527C368.813 22.359 369.123 22.4621 369.498 22.4621C369.817 22.4621 370.154 22.4059 370.511 22.2934C370.886 22.1809 371.204 22.059 371.467 21.9277L372.339 25.5Z"
              fill="#1E1E1E"></path>
          </svg>
        </div>
        <a href="">Læs Mere</a>
        <!-- <div><img src="" alt="" /></div> -->
      </section>
      <section>
        <!-- Følg Donationerne - Donation Counter with vid -->

        <div>
          <h3>Mange bække små</h3><p>
            Hver gang du bruger dit Dankort, donerer vi 1 øre til Den Danske
            Naturfond. Det bliver til mere end 10 millioner kroner hvert år, der
            går ubeskåret til opkøb og udvikling af mere vild og varig natur i
            Danmark. Vi kalder det Dankort Øremærket. Målet er ikke at forbruge
            mere, men at skabe mere plads til den danske natur.
          </p>
        </div>
      </section>
      <section>
        <div>
          <img src="" alt="billede baggrund af små blomster der er sløret" />
        </div>
        <div>
          <img src="" alt="billede af en mobil med betalingskort i 3d" />
        </div>
        <div>
          <h2>Fordele med Dankort</h2>
        </div>
        <div>
          <p>
            Med hvert køb går 1 øre til dansk natur. Dankort er også billigere
            for butikkerne, og virker offline i krisesituationer. Det er et ægte
            dansk produkt der styrker lokaløkonomien. En betaling der gør en
            konkret forskel – for din lomme, for naturen og for fællesskabet.
          </p>
          <div><a href=""> Læs Mere</a></div>
        </div>
      </section>
      <section>
        <div>
          <img src="" alt="billede baggrund af sand med slør" />
        </div>
        <div>
          <img src="" alt="billede af DK mærke med palme blade" />
        </div>
        <div>
          <h2>Naturfonden</h2>
        </div>
        <div>
          <h3>Dankort donerer 1 øre</h3>
          <p>
            Aliquam erat volutpat. Integer malesuada turpis id fringilla
            suscipit. Maecenas ultrices, orci vitae convallis mattis.
          </p>
        </div>
        <div>
          <h3>Din bank donerer 1 øre</h3>
          <p>
            Aliquam erat volutpat. Integer malesuada turpis id fringilla
            suscipit. Maecenas ultrices, orci vitae convallis mattis.
          </p>
        </div>
        <div>
          <h3>Dem du handler hos donerer 1 øre</h3>
          <p>
            Aliquam erat volutpat. Integer malesuada turpis id fringilla
            suscipit. Maecenas ultrices, orci vitae convallis mattis.
          </p>
        </div>
        <div><a href=""> Læs Mere</a></div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
