---
import Faq from "../components/Faq.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Naturfonden</title>
  </head>
  <body>
    <section>
      <h2>Den Danske Naturfond</h2>
      <h3>Sammen for mere natur</h3>
    </section>
    <h1>BLABKALNALANKLN</h1>
    <h2>kanjfklkrflkj</h2>
    <Faq />
  </body>
</html>
