---
import Faq from "../components/Faq.astro";
import "../Style/naturfonden.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Headerr.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Naturfonden</title>
  </head>
  <body>
    <Header />
    <section class="naturfonden">
      <div class="nature-text">
        <h2>Den Danske Naturfond</h2>
        <h3>Sammen for mere natur</h3>

        <p>Dankort samarbejder med Den Danske Naturfond om at give vores natur i Danmark mere plads.</p>

        <p>Ved at hjælpe det danske øremærke får vi danskere på 1 år indsamlet et beløb på 10 mio. danske kroner, som skal være med til at hjælpe den danske natur og forbedre vores miljø.</p>

        <a href="https://naturfonden.dk/om-fonden/" class="naturfonden-btn">Læs mere</a>
      </div>

      <video class="naturfonden-video" src="/pictures/IMG_2129.MOV" autoplay muted loop playsinline></video>
    </section>

    <Faq />
    <Footer />
    <script src="/js/language.js"></script>
  </body>
</html>
