---
import Faq from "../components/Faq.astro";
import "../Style/naturfonden.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Headerr.astro";
import "../Style/headerr.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Naturfonden</title>
  </head>
  <body>
    <Header />
    <section class="naturfonden">
      <div class="nature-text">
        <h2 data-da="Den Danske Naturfond" data-en="The Danish Nature Fund">Den Danske Naturfond</h2>

        <h3 data-da="Sammen for mere natur" data-en="Together for more nature">Sammen for mere natur</h3>

        <p data-da="Dankort samarbejder med Den Danske Naturfond om at give vores natur i Danmark mere plads." data-en