---

---

<section class="faq-section">
  <h2>Ofte stillede spørgsmål</h2>

  <details name="faq-1">
    <summary> Hvorfor samarbejder I med Den Danske Naturfond?</summary>
    <div class="content">
      <p>
        Dankort ønsker at styrke den danske natur og bidrage til den kollektive
        naturgenopretning i hele Danmark. Til det formål er Den Danske Naturfond
        en velvalgt samarbejdspartner, da vores bidrag går ubeskåret til at
        sikre mere blivende natur i hele Danmark – øre for øre.
      </p>
    </div>
  </details>
</section>
