---

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main></main>
    <footer>
      <section>
        <div>
          <h3>Kontakt os</h3>
          <p>
            Our vision is to provide convenience and help increase your sales
            business.
          </p>
        </div>
        <div>
          <!-- indsæt minilogoer af SoMe -->
        </div>
        <div>
          <ul>
            <li>Den danske Naturfond</li>
            <li>Dankort</li>
            <li>Min side</li>
            <li>Kontakt os</li>
          </ul>
        </div>
      </section>
      <section>
        <div>
          <!-- indsæt logo svg.  -->
        </div>
      </section>
    </footer>
  </body>
</html>
