---
import "../style/forside.css";
---

<footer>
  <section class="footer_blue01">
    <div>
      <h3>Kontakt os</h3>
      <p>
        Our vision is to provide convenience and help increase your sales
        business.
      </p>
    </div>
    <div>
      <!-- indsæt mini logoer af SoMe -->
    </div>
    <div>
      <ul>
        <li>Den danske Naturfond</li>
        <li>Dankort</li>
        <li>Min side</li>
        <li>Kontakt os</li>
      </ul>
    </div>
  </section>
  <section>
    <div>
      <!-- indsætter selv logo svg. -->
    </div>
  </section>
</footer>
